<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ResetDatabase" value="True"/>		
		<add key="PostgresConnectionString" value="Host=localhost;Port=8002;Database=properties_database;Username=username;Password=password" />
		<add key="Key" value="76666a29898f491480386d966b75f949"/>
	</appSettings>
</configuration>